# Python programming

- Data Types

In [7]:
type (45)

int

In [8]:
type ("Aryan")

str

In [9]:
type (False)

bool

In [10]:
type (1.0)

float

- Strings

In [11]:
"hello"

'hello'

In [12]:
'hello'

'hello'

# Variable assignment

In [13]:
# var_name = value

In [14]:
a = 24

In [15]:
type (a)

int

In [16]:
a = 'Aryan'

In [17]:
type (a)

str

# Print function

In [18]:
a = 25
b = 20
print(a + b)

45

In [19]:
print(a - b)

5

In [20]:
print(a % b)

5

In [21]:
print(a / b)

1.25

In [22]:
print((a * b) + (a / b))

501.25

# Single Variables

In [24]:
st = "Aryan"
print(str)

Aryan

# Multiple Variables

In [27]:
st = "Ram is "
age = 25
city = "Lonere"
print(st,age,city) #Concatenation

Ram is  25 Lonere

In [28]:
first_name = 'Aryan'
last_name = 'Mishra'

In [29]:
print("My first name is {} and last name is {}".format(first_name,last_name))

My first name is Aryan and last name is Mishra

In [30]:
txt = "My last name is {} and first name is {}"

In [32]:
print(txt.format(first_name,last_name)) # .format() method is used to format strings and insert the values in string placeholder

My last name is Aryan and first name is Mishra

# Using sep and end Parameter

In [33]:
print("Python", end = '#') #end is a parameter

Python#

In [43]:
print("Python", end = '$')
print("Programming")

Python$Programming

- Seperating with comma

In [44]:
print('a','B','C', sep = ',')

a,B,C

In [45]:
print('07','04','2025', sep = '-') #sep is a parameter

07-04-2025

# Using f-string

In [49]:
name = 'Aryan'
age = '19'
print(f"My name is {name} and I'm {age} years old.") # without using .format() we can enter values using f string

My name is Aryan and I'm 19 years old.

# Using format specifier

In [50]:
num = int(input("Enter a number: "))
add = num + 10
print("Sum is %d" %add)

Enter a number:  20

Sum is 30

# Taking multiple inputs

In [4]:
a, b = (input("Enter two numbers: ")).split()
print("Number of boys is: " ,a)
print("Number of girls is: ",b)

Enter two numbers:  45 54

Number of boys is:  45
Number of girls is:  54

# Program of age

In [65]:
int_age = input("Enter your age: ")
age = int(age)
if age < 0:
    print("Enter a valid age")
elif age < 18:
    print("You are minor")
elif age >= 18 and age <= 60:
    print("You are adult")
else:
    print("You are senior citizen")

Enter your age:  31

You are adult

# Typecasting

In [66]:
color = input("Enter Colour of rose: ")
print(color)

Enter Colour of rose:  red

red

In [67]:
n = int(input("How many roses?: "))
print(n)

How many roses?:  7

7

In [68]:
price = float(input("Enter Price of each rose: "))
print(price)

Enter Price of each rose:  23.65

23.65

# Find data types in python

In [70]:
a = "Hello World!"
b = 20
c = 34.678
d = ("Computers" ,"for", "students")
e = ["Computers" ,"for", "students"]
f = {"Computers": 1 ,"for": 2, "students": 3}
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'tuple'>
<class 'list'>
<class 'dict'>