# Python Tuples



# Tuple Items

- Ordered
- Unchangeable
- Allow Duplicates

In [ ]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [ ]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

#A tuple with strings, integers and boolean values:

tuple4 = ("abc", 34, True, 40, "male")
print(type(tuple4))

<class 'tuple'>

# Different Ways of Creating a Tuple
- Using round brackets
- Without Brackets
- Tuple Constructor
- Empty Tuple
- Single Element Tuple
- Using Tuple Packing

In [ ]:
#Using Round Brackets



tup = ("gfg", "Python")
print(tup)

('gfg', 'Python')

In [ ]:
# Using Comma Separated



# Creating a tuple without brackets
tup = 4, 5, 6
print(tup)

(4, 5, 6)

In [ ]:
# Using Tuple Constructor



# Creating a tuple using the tuple() constructor
tup = tuple([7, 8, 9])
print(tup)

(7, 8, 9)

In [ ]:
# Creating an Empty Tuple



# Creating an empty tuple
tup = ()
print(tup)

In [ ]:
# Single Element Tuple



# Creating a single-element tuple
tup = (10, ) # Comma is important here
print(tup)  # Output: (10,)
print(type(tup))

# What if we do not use comma
tup = (10) # This an integer (not a tuple)
print(tup)
print(type(tup))

(10,)
<class 'tuple'>
10
<class 'int'>

# The tuple() Constructor

In [ ]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

# Access Tuple Items

In [ ]:
#Print the second item in the tuple:

thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

# Negative Indexing.

In [ ]:
# Print the last item of the tuple:

thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

# Range of Indexes

In [ ]:
#Return the third, fourth, and fifth item:

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [ ]:
# This example returns the items from the beginning to, but NOT included, "kiwi":

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [ ]:
# This example returns the items from "cherry" and to the end:

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [ ]:
# This example returns the items from index -4 (included) to index -1 (excluded)

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

# Check if Item Exists

In [ ]:
# Check if "apple" is present in the tuple:

thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

# Python - Update Tuples

# Change Tuple Values

In [ ]:
# Convert the tuple into a list to be able to change it:

x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

# Add Items

In [ ]:
#Convert the tuple into a list, add "orange", and convert it back into a tuple:

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [ ]:
# 2. Add tuple to a tuple. You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple:
# Create a new tuple with the value "orange", and add that tuple:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

# Remove Items

In [ ]:
# Convert the tuple into a list, remove "apple", and convert it back into a tuple:

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

In [ ]:
# The del keyword can delete the tuple completely:

thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

# Traversing Items of Python Tuples
Like List Traversal, we can traverse through a tuple using for loop.

In [ ]:
 #Define a tuple
tup = (1, 2, 3, 4, 5)

# Traverse through each item in the tuple
for x in tup:
    print(x, end=" ")

1 2 3 4 5

# Concatenation of Python Tuples

In [ ]:
# Code for concatenating 2 tuples
tup1 = (0, 1, 2, 3)
tup2 = ('python', 'geek')

# Concatenating above two
print(tup1 + tup2)

(0, 1, 2, 3, 'python', 'geek')

# Nesting of Python Tuples

In [ ]:
# Code for creating nested tuples
tup1 = (0, 1, 2, 3)
tup2 = ('python', 'geek')

tup3 = (tup1, tup2)
print(tup3)

((0, 1, 2, 3), ('python', 'geek'))

# Repetition Python Tuples

In [ ]:
# Code to create a tuple with repetition
tup = ('python',)*3
print(tup)

('python', 'python', 'python')

# Slicing Tuples in Python

In [ ]:
# code to test slicing
tup = (0 ,1, 2, 3)

print(tup[1:])
print(tup[::-1])
print(tup[2:4])

(1, 2, 3)
(3, 2, 1, 0)
(2, 3)

# Finding the Length of a Python Tuple

In [ ]:
# Code for printing the length of a tuple
tup = ('python', 'geek')
print(len(tup))

2

# Multiple Data Types With Tuple

In [ ]:
# tuple with different datatypes
tup = ("immutable", True, 23)
print(tup)

('immutable', True, 23)

# Converting a List to a Tuple

In [ ]:
# Code for converting a list and a string into a tuple
a = [0, 1, 2]
tup = tuple(a)

print(tup)

(0, 1, 2)

# Unpacking a Tuple in Python

In [ ]:
a, b, c = (100, 200, 300)

print(a)
print(b)
print(c)

100
200
300

# Tuple Unpacking Techniques

In [ ]:
a, _, c = (100, 200, 300)
print(a)
print(c)

100
300

# 2. Using * for Variable-Length Unpacking

In [ ]:
a, *b = (1, 2, 3, 4, 5)
print(a)
print(b)

1
[2, 3, 4, 5]

In [ ]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [ ]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

# 3. Unpacking Nested Tuples
Tuples inside tuples can also be unpacked:

In [ ]:
nested_tuple = (1, (2, 3), 4)
a, (b, c), d = nested_tuple

print(a)
print(b)
print(c)
print(d)

1
2
3
4

# 4. Tuple Unpacking with * in Function Arguments

In [ ]:
def add(*args):
    return sum(args)

print(add(1, 2, 3, 4))

10

# b. Using * for Argument Unpacking: Tuple unpacking can also be used when calling a function:

In [ ]:
def add(a, b, c):
    return a + b + c

nums = (1, 2, 3)
print(add(*nums))

6

# Loop Through a Tuple

In [ ]:
# Iterate through the items and print the values:

thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

# Loop Through the Index Numbers

In [ ]:
# Print all items by referring to their index number:

thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [ ]:
t = ('red', 'green', 'blue', 'yellow')

# Here, i and color stores the index and value respectively
for i, color in enumerate(t):
    print(f"Index {i}: {color}")

Index 0: red
Index 1: green
Index 2: blue
Index 3: yellow

# Using a While Loop

In [ ]:
# Print all items, using a while loop to go through all the index numbers:

thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

In [ ]:
t = ('red', 'green', 'blue', 'yellow')

# Start from the first index
i = 0

# Loops till the last index (i.e., 3)
while i < len(t):
    print(t[i])
    i += 1

red
green
blue
yellow

# Join Two Tuples

In [ ]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

# Joining Tuples Using List Comprehension

In [ ]:
# In this example, we are joining two tuples, T1 and T2, into a single tuple using list comprehension. The resulting tuple, joined_tuple, contains all elements from both T1 and T2 −


# Two tuples to be joined
T1 = (36, 24, 3)
T2 = (84, 5, 81)
# Joining the tuples using list comprehension
joined_tuple = [item for subtuple in [T1, T2] for item in subtuple]
# Printing the joined tuple
print("Joined Tuple:", joined_tuple)

Joined Tuple: [36, 24, 3, 84, 5, 81]

# Joining Tuples Using extend() Function

In [ ]:
#In the following example, we are extending the first tuple "T1" by converting it into a list "L1", then adding elements from the second tuple "T2" by first converting it into a list "L2", and finally converting the merged list back into a tuple, effectively joining the two tuples −

T1 = (10,20,30,40)
T2 = ('one', 'two', 'three', 'four')
L1 = list(T1)
L2 = list(T2)
L1.extend(L2)
T1 = tuple(L1)
print ("Joined Tuple:", T1)

Joined Tuple: (10, 20, 30, 40, 'one', 'two', 'three', 'four')

# Join Tuples using sum() Function

In [ ]:
# In this example, the elements of the first tuple are first appended to an empty tuple. Then elements from the second tuple are appended, resulting in a new tuple that is a concatenation of the two −

In [ ]:
T1 = (10,20,30,40)
T2 = ('one', 'two', 'three', 'four')
T3 = sum((T1, T2), ())
print ("Joined Tuple:", T3)

Joined Tuple: (10, 20, 30, 40, 'one', 'two', 'three', 'four')

# Multiply Tuples

In [ ]:
# Multiply the fruits tuple by 2:

fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

# Joining Tuples using for Loop

In [ ]:
# In the following example, we are iterating over each element in tuple T2, and for each element, we are appending it to tuple T1, effectively joining the two tuples −
T1 = (10,20,30,40)
T2 = ('one', 'two', 'three', 'four')
for t in T2:
   T1+=(t,)
print (T1)

(10, 20, 30, 40, 'one', 'two', 'three', 'four')

# Tuple Methods

# Count() Method

In [ ]:
# Using the Tuple count() method
# Creating tuples
Tuple1 = (0, 1, 2, 3, 2, 3, 1, 3, 2)
Tuple2 = ('python', 'geek', 'python',
          'for', 'java', 'python')
  # count the appearance of 3
res = Tuple1.count(3)
print('Count of 3 in Tuple1 is:', res)

# count the appearance of python
res = Tuple2.count('python')
print('Count of Python in Tuple2 is:', res)

Count of 3 in Tuple1 is: 3
Count of Python in Tuple2 is: 3

In [ ]:
#Counting tuples and lists as elements in Tuples
# Creating tuples
Tuple = (0, 1, (2, 3), (2, 3), 1,
         [3, 2], 'geeks', (0,))

# count the appearance of (2, 3)
res = Tuple.count((2, 3))
print('Count of (2, 3) in Tuple is:', res)

# count the appearance of [3, 2]
res = Tuple.count([3, 2])
print('Count of [3, 2] in Tuple is:', res)

Count of (2, 3) in Tuple is: 2
Count of [3, 2] in Tuple is: 1

# Index() Method

In [ ]:
# Using Tuple Index() Method
# Creating tuples
Tuple = (0, 1, 2, 3, 2, 3, 1, 3, 2)

# getting the index of 3
res = Tuple.index(3)
print('First occurrence of 3 is', res)

# getting the index of 3 after 4th
# index
res = Tuple.index(3, 4)
print('First occurrence of 3 after 4th index is:', res)

First occurrence of 3 is 3
First occurrence of 3 after 4th index is: 5

In [ ]:
# Using Tuple() method when the element is not found
# Creating tuples
Tuple = (0, 1, 2, 3, 2, 3, 1, 3, 2)

# getting the index of 3
res = Tuple.index(4)

ValueError: tuple.index(x): x not in tuple